<h1> Log In </h1>

<form action="<%= session_url %>" method="POST">
    <%= form_auth %>

    <label for="email">Email</label>
    <input type="email" name="email" id="email">

    <label for="password">Password</label>
    <input type="password" name="password" id="password">

    <input type="submit" value="Submit">

</form>