body {
    font-family: arial, sans-serif;
    background-color: #ff00001a;
}

h1 {
    font-size: 38px;
}

h2 {
    font-size: 32px;
}

ul.ingredients-list {
    list-style: square inside;
}

ol {
    list-style: square;
}

header>img {
    width: 100px;
}

ul>li>a {
    color: inherit;
    text-decoration: none;
}