<main class='col main-content'>
    <section class="col-2-3 col">
        <section class="col-1-3">
            <h3 class="hov-underline h3-big">Launching the New React/Redux Curriculum</h3>
            <h3 class="attribution">By APP ACADEMY INSTRUCTIONAL TEAM</h3>
            <ul>
                <li>It helps you write applications that behave consistently, run in different environments (client, server, and native), and are easy to test. On top of that, it provides a great developer experience, such as live code editing combined with a time traveling debugger.</li>

                <li>The whole state of your app is stored in an object tree inside a single store. The only way to change the state tree is to emit an action, an object describing what happened. To specify how the actions transform the state tree, you write pure reducers.</li>
                
            </ul>
            <span class='comment'>1738 Comments</span>
        </section>


        <section class="col-2-3">
            <iframe width="100%" height="315" src="https://www.youtube.com/embed/ARe9FupzuOA" frameborder="0" allowfullscreen></iframe>

            <div class='warning'>Warning: This video will make you want to change your career</div>
            <hr>
            <h3 class="hov-underline">Where Are They Now?</h3>
            <h3 class="attribution">By APP ACADEMY ALUMNI</h3>
            First hand stories from App Academy graduates about transitioning to engineering positions at top tech companies in San Francisco.
            <hr>
            <h3 class="hov-underline">Cat Academy</h3>
            <h3 class="attribution">By APP ACADEMY DIRECTOR OF PRODUCTS</h3>
            App Academy's latest product targets those interested in owning the popular feline companion by providing a curated cat care curriculum.
        </section>
        <hr class='hr-top'>
        <hr class='hr-bottom'>
    </section>


    <section class='col-1-3'>
        <h3 class='center-heading'>The Opinion Pages</h3>
        <section class='col'>
            <section class="col-1-2">    
                <h3 class='caps-headings'>Op-Ed Contributor</h3>
                <h3 class="hov-underline">Will Javascript ever be as easy as Ruby?</h3>
                <p>Javscript continues to advance with the newly released EcmaScript7 but it still doesn't quite read like Ruby.</p>
                <ul class='people'>
                    <li>Torvalds: When I Was Almost Wrong</li>
                    <li>Knuth: Art of Programming</li>
                    <li>Lovelace: The First Algorithm</li>
                    <li>Hopper: The First Bug</li>
                    <li>Thompson: Go C Unix</li>
                    <li>Carmack: My Virtual Reality</li>
                    <li>Stallman: Free Speech Not Free Coffee</li>
                </ul>
            </section>

            <section class="col-1-2">
                <h3 class='caps-headings'>Operations</h3>
                <h3 class="hov-underline">App Academy New York Has A Brand New Office</h3>
                <h3 class="attribution">By NY OPERATIONS</h3>

                <p>The new space features hardwood floors and brick walls for a modern technology space with an aura for learning.</p>
                <div class='thumbnail'>
                    <img src='assets/new_office.jpg' >
                </div>
                Opinion Today, in your Inbox
                <p>Each weekday, get though-provoking commentary from our columnists and contributors.</p>


            </section>
            <form class='signup-form'>
                <input type='email' placeholder='Get the Opinion newsletter by email'>
                <button class='sign-up'>Sign Up</button>
            </form>
            <div class='footnote'>We'll also send offers to join the App Academy Bootcamp. You can never unsubscribe.</div>
        </section>

        <hr class='hr-top'>
        <hr class='hr-bottom'>
    </section>

</main>
            